.teste{
    margin: 1rem;
 } 

.div__btn, .row{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=submit]{
    border-radius: 10cm;
    height: 5%;
    width: 6%;
}

